<div id="loginTemplate">
	<div class="loginblock">
		<ul>
			<li class="subtitle">
				 User Login
			</li>
			<li>
				User Name : <input type="text" name="">
			</li>
			<li>
				Password : <input type="Password" name="">
			</li>
			<li>
				<button class="btn btn-success" type="submit">Login</button>
			</li>
			<li>
				<div class="link" onclick="loadPage('newsignup')">
					New User ?   Register here
				</div>
				<div class="link" onclick="loadPage('forgotpwd')">
					Forgot Password ?
				</div>
			</li>
		</ul>
	</div>
</div>
