<div id="signupTemplate">
	<div class="signup">
		<ul>
			<li class="subtitle">
				 Sign Up
			</li>
			<li>
				User Name : <input type="text">
			</li>
			<li>
				Enter Password : <input type="Password" >
			</li>
			<li>
				Confirm Password : <input type="Password" >
			</li>
			<li>
				Country : 
				<select>
					<option>select</option>
					<option>India</option>
					<option>America</option>
					<option>England</option>
				</select>
			</li>
			<li>
				State : 
				<select>
					<option>select</option>
					<option>Maharashtra</option>
					<option>Gujrat</option>
					<option>Telangna</option>
				</select>
			</li>
			<li>
				Adress :
				<textarea></textarea>
			</li>
			<li>
				Phone number : <input type="number" name="">
			</li>
			<li>
				<button type="submit" class="btn btn-lg btn-success">Register</button>
			</li>
		</ul>
	</div>
	
</div>