ul
{
	border: 2px solid;
	width: 400px;
	background: #ccc;
	margin: 10px auto;
	padding: 10px;
}
li
{
	list-style: none;
	border: 1px solid;
	background: #fff;
	margin: 5px;
	padding: 5px;
}
table,th,tr,thead,td
{
	border: 1px solid;
}

